* {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ededed;
}

/** ----- Grid conatiner ----- */

@media (min-width: 400px) {
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 15px;
    padding: 12px;
  }
}

/** --- Navbar // image ---- */

@media (min-width: 400px) {
    .header {
      grid-column: 1 / -1;
      position: sticky;
      top: 0px;
      width: 100%;
      transition: background-color 0.2s;
    }
}

nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: auto;
  }
  
  #image {
    position: absolute;
    top: 100px;
    left: 123px;
    width: 190px;
    height: 207px;
    overflow: hidden;
    border-radius: 50%;
    transition: width 0.2s, height 0.2s, top 0.2s, left 0.2s;
  }
  
  img#picture {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: auto;
  }
  
  .tituloPosicion {
    width: 489px;
    text-align: center;
    position: absolute;
    top: 312px;
    left: 0px;
    background: #f5e4e4;
    transition: top 0.2s;
  }
  
  .tituloNombre {
    font-family: "nombre";
    font-size: 38px;
    color: #707375;
  }
  
  .cargo {
    font-family: "cargo";
    font-size: 25px;
    color: #147cd8;
  }
  
  nav ul {
    list-style: none;
    margin-right: 5px;
  }
  
  nav ul li {
    float: left;
    margin: 13px 0px 13px 13px;
    padding: 3px;
    padding-left: 7px;
    border-left: 1px solid #bbb;
  }
  
  nav li:last-child {
    border-right: none;
  }
  
  nav ul a {
    color: black;
    text-decoration: none;
    padding-bottom: 6px;
  }
  
  nav a:hover {
    border-bottom: 2px solid black;
  }


/** Aside */

.aside {
  height: 720px;
  padding-top: 350px;
  background-color: #fbfbfb;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  transition: padding-top 0.2s;
}

.espacioperfil {
  padding: 15px;
  background-color: rgb(60 60 60);
}

.espacioParrafo {
  margin: 10px;
  padding: 5px;
  text-align: justify;
  color: #d4d4d4;
}

.espacioskill {
  padding: 20px;
  margin-top: 40px;
}

.skill {
  margin: 10px;
  padding: 10px;
}

.skill ul {
  padding: 10px;
  list-style-type: none;
  width: auto;
  border-radius: 8px;
  background-color: #3c3c3c;
}

.skill li {
  display: block;
  color: #fdfdfd;
  padding: 5px 12px;
}
/* Cambia link color on hover */

.skill_item li:hover {
  background-color: #555;
}
/** Educacion */

.Educacion {
  padding: 20px;
  background-color: rgb(28 24 21);
  margin: 20px 0px 0px 0px;
}

.container_educacion {
  height: auto;
  padding: 5px;
  margin: 10px;
}

.container_educacion > H4 {
  color: #d4d4d4;
}

.container_educacion > div {
  text-align: left;
  padding: 10px 0px 20px 0px;
}

.container_educacion p {
  margin-top: 10px;
  color: #ffffff;
}

.container_educacion a {
  color: #a48eff;
}
/*contacto**/

.espaciocontact {
  height: 200px;
}

.contacto {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.contact {
  color: #000000;
  text-shadow: 4px 4px 4px #3ba0ab;
  justify-content: center;
}

.center_iconos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_iconos i {
  margin: 15px;
}
/** --- section ------ */

@media (min-width: 400px) {
    .seccion {
    background-color: #fbfbfb;
    grid-column: span 2;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
  /** --- item grid section ----- */

@media (min-width: 400px) {
  .container_experiencia {
    display: grid;
    grid-template-columns: 36% auto;
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    padding: 22px;
  }
}

.container_experiencia > div {
    text-align: left;
    padding: 20px 0;
  }
  
  /**Experiencia*/
  
  .item1 {
    font-size: 1.17em;
    color: #695f5f;
  }
  
  .item2 {
    /*grid-column-start: 2;
      grid-column-end: 3;*/
    color: #9a758f;
  }
  
  .espacioP {
    margin-top: 10px;
    color: #695f5f;
    text-align: justify;
  }
  /** ------ Portafolio ----- */
  
@media (min-width: 400px) {
  .container_trabajos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    padding: 5px;
    margin-top: 25px;
    }
  }
  .image1 {
    padding: 5px;
  }
  
  .image2 {
    padding: 5px;
  }
  
  div.polaroid {
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0px 15px 50px 15px;
  }
  /** animacion Experiencia - Portafolio - Contactame*/
  
  .titulo {
    font-family: "nombre";
    display: flex;
    align-items: center;
    color: #683475;
  }
  
  .logotipo {
    padding: 10px;
    color: var(--logotipo);
  }
  
  .logotipo:hover .subtitulo {
    background: var(--primario);
  }
  
  .texto-animado {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  .texto-animado > div {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.3s ease all;
  }
  
  .texto-animado > div.animacion {
    transform: translateY(-100px);
  }
  
  .texto-animado > div span {
    font-size: 1.17em;
    font-weight: normal;
    line-height: 1.17em;
  }
  
  .texto-animado .segunda-linea {
    position: absolute;
    top: 100px;
  }
  

  @media (max-width: 400px) {
    .tituloPosicion{
      width: 360px;
    }

    .aside{
      height: auto;
    }
  }

/*@media screen and (max-width: 400px) {
        .grid-container {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
        }
        .header {
            display: none;
        }
        .aside {
            height: auto;
            padding-top: 0px;
        }
        .espaciocontact {
            height: 0px;
        }
        .contacto {
            display: none;
        }
        .container_experiencia {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
        }
        .container_experiencia>div {
            padding: 5px 0;
        }
        .texto-animado>div span {
            font-size: 1em;
            font-weight: normal;
            line-height: 1.17em;
        }
        .fa-2x {
            font-size: 1.5em !important;
        }
        .container_trabajos {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }*/
