        * {
            margin: 0;
            padding: 0;
            font-family: helvetica;
        }
        
        #body {
            width: 100%;
            height: 500px;
        }
        /**Navbar / image*/
        
        .header {
            position: sticky;
            top: 0px;
            width: 100%;
            transition: background-color .5s;
        }
        
        nav {
            display: flex;
            justify-content: flex-end;
            position: relative;
            margin: auto;
            transition: margin-left .5s;
        }
        
        #image {
            position: absolute;
            top: 100px;
            left: 127px;
            width: 190px;
            height: 207px;
            overflow: hidden;
            border-radius: 50%;
        }
        
        img#picture {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width: 100%;
            height: auto;
            transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
        }
        
        nav ul {
            display: block;
            float: left;
            list-style: none;
            margin-right: 5px;
        }
        
        nav ul li {
            float: left;
            margin: 13px 0px 13px 13px;
            padding: 3px;
            padding-left: 7px;
            border-left: 1px solid #bbb;
        }
        
        nav li:last-child {
            border-right: none;
        }
        
        nav ul a {
            color: black;
            text-decoration: none;
            padding-bottom: 6px;
        }
        
        nav a:hover {
            border-bottom: 2px solid black;
        }
        /**Grid conatiner */
        
        .grid-container {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-gap: 5px;
        }
        /**Aside*/
        
        .aside {
            grid-column-start: 1;
            grid-column-end: 2;
            padding-top: 260px;
            background-color: #fbfbfb;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        @font-face {
            font-family: "nombre";
            src: url(./typografia/LinBiolinum_aWI.ttf);
        }
        
        @font-face {
            font-family: "cargo";
            src: url(./typografia/LinBiolinum_aWI.ttf);
        }
        
        .tituloPosicion {
            width: auto;
            padding-bottom: 10px;
            text-align: center;
        }
        
        .tituloNombre {
            font-family: "nombre";
            font-size: 38px;
            color: #707375;
        }
        
        .cargo {
            font-family: "cargo";
            font-size: 25px;
            color: #147cd8;
        }
        
        .espacio {
            padding: 15px;
            background-color: rgb(60 60 60);
        }
        
        .espacioParrafo {
            margin: 10px;
            padding: 5px;
            color: #d4d4d4;
        }
        
        .espacioskill {
            padding: 20px;
            margin-top: 12px;
        }
        
        .skill {
            margin: 10px;
            padding: 10px;
        }
        
        .skill ul {
            padding: 10px;
            list-style-type: none;
            width: auto;
            border-radius: 8px;
            background-color: #3c3c3c;
        }
        
        .skill li {
            display: block;
            color: #fdfdfd;
            padding: 5px 12px;
        }
        /* Cambia link color on hover */
        
        .skill_item li:hover {
            background-color: #555;
        }
        /** section*/
        
        .seccion {
            grid-column-start: 2;
            grid-column-end: 4;
            background-color: #fbfbfb;
            padding: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        .seccion>h3 {
            color: #3c3c3c;
        }
        /** item grid section*/
        
        .container_experiencia {
            display: grid;
            grid-template-columns: 36% auto auto;
            grid-gap: 10px;
            padding: 22px;
        }
        
        .container_experiencia>div {
            text-align: left;
            padding: 20px 0;
        }
        /**Experiencia*/
        
        .item1 {
            grid-column-start: 1;
            grid-column-end: 2;
            font-size: 1.17em;
            color: #695f5f;
        }
        
        .item2 {
            grid-column-start: 2;
            grid-column-end: 4;
        }
        
        .item3 {
            grid-column-start: 1;
            grid-column-end: 2;
            font-size: 1.17em;
            color: #695f5f;
        }
        
        .item4 {
            grid-column-start: 2;
            grid-column-end: 4;
        }
        
        .item5 {
            grid-column-start: 1;
            grid-column-end: 2;
            font-size: 1.17em;
            color: #695f5f;
        }
        
        .item6 {
            grid-column-start: 2;
            grid-column-end: 4;
        }
        /**Trabajos*/
        
        .container_trabajos {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-gap: 5px;
            padding: 5px;
            margin-top: 25px;
        }
        
        .image1 {
            grid-column-start: 1;
            grid-column-end: 2;
            padding: 5px;
        }
        
        .image2 {
            grid-column-start: 2;
            grid-column-end: 3;
            padding: 5px;
        }
        
        .image3 {
            grid-column-start: 3;
            grid-column-end: 4;
            padding: 5px;
        }
        
        div.polaroid {
            width: 100%;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 25px;
        }
        
        div.container {
            text-align: center;
            padding: 10px 20px;
        }
        /**Educacion*/
        
        .container_educacion {
            display: grid;
            grid-template-columns: 36% auto auto;
            grid-gap: 10px;
            padding: 22px;
        }
        
        .container_educacion>div {
            text-align: left;
            padding: 20px 0;
        }
        
        .item7 {
            grid-column-start: 1;
            grid-column-end: 2;
            font-size: 1.17em;
            color: #695f5f;
        }
        
        .item8 {
            grid-column-start: 2;
            grid-column-end: 4;
        }
        
        .item9 {
            grid-column-start: 1;
            grid-column-end: 2;
            font-size: 1.17em;
            color: #695f5f;
        }
        
        .item10 {
            grid-column-start: 2;
            grid-column-end: 4;
        }
        
        .item11 {
            grid-column-start: 1;
            grid-column-end: 2;
            font-size: 1.17em;
            color: #695f5f;
        }
        
        .item12 {
            grid-column-start: 2;
            grid-column-end: 4;
        }
        
        .espacioP {
            margin-top: 10px;
            color: #695f5f;
        }
        
        .espacioP a {
            color: #df37ea;
        }
        /*Footer**/
        
        .footer {
            grid-column-start: 1;
            grid-column-end: 4;
            background-color: #fbfbfb;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        .footer h2 {
            text-align: center;
            padding-top: 20px;
            color: #5f4a4a;
        }
        
        .center_iconos {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75px;
            margin: 5px;
        }
        
        .center_iconos i {
            margin: 7px;
            color: #776767;
        }
        
        section#banner {
            background-color: #ededed;
        }